*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Saira", sans-serif;
}

/* ==================  navbar */
.navbar_container{
    /* background-color: rgb(223, 13, 13); */
    height: 3rem;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}
.navbar_container img{
    height: 100%;
    border-radius: 0px 20px 0px 20px;
}
.navbar_container li{
    display: inline;
    padding: 5px 10px ;
    cursor: pointer;
}
.navbar_container i{
    padding: 0px 10px ;
    cursor: pointer;
}
/* --------------------reponsive menu */
.menu {
    display: none;
}  
.responsive_navbar{
    background-color: rgba(0, 0, 0, 0.779);
    height: 100vh;
    width: 20rem;
    position: absolute;
    top: 0;
    z-index: 99;
    color: white;
    display: none;
    justify-content: center;
}
.responsive_navbar li{
    list-style-type: none;
    padding: 5px 69.5px;
}
.responsive_navbar li:hover{
    background-color: orangered;
    
}
.fa-xmark{
    position: absolute;
    right: 10px;
    top: 20px;
}



/* ==================  navbar---hovwer */
.navbar_container li:hover{
    background-color: orangered;
    border-radius: 0px 20px 0px 20px;
    transition: .4s;
}

/* Header -----POST */

.post img{
     width: 100%;
}
.category{
    text-align: center;
}
.category-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cate-item{
    width: 250px;
    height: 300px;
    background-color: aqua;
    overflow: hidden;
    border-radius: 0px 40px 0px 40px;
    margin: 10px;



}
.cate-item img{
    width: 100%;
    height: 100%;
}

/* Header -----POST : hover */
.cate-item img:hover{
    scale: 1.1;
}

/* -----------------new-arrival */
.new-arrival{
    background-color: rgba(255, 69,0, 0.2);

}
.new-arrival h2{
    text-align: center;

}
.arrival-item{
    display: flex;
    align-items: center;
    padding: 10px;
    /* flex-wrap: wrap; */

}

.arrival-item img{
    height: 100%;
    width: 100%;
    border-radius: 0px 50px 0px 50px;
}
.arr-img{
    margin: 10px;
    height: 20rem;
    width: 1000px;
}
.foot{
    
    background-image: url('https://t3.ftcdn.net/jpg/02/49/10/42/360_F_249104231_ObJTqoJcOQaVHyJmi6KDcKpops1W7hqL.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px;
}
.foot h1{
    color: white;

}
.com{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lorp{
    color: white;
    padding: 20px;
    width: 45%;
}

.map{
    width: 45%;
    height: 300px;
    border-radius: 0px 40px 0px 40px;
    box-shadow: rgba(243, 36, 211, 0.4) 0px 2px 4px, rgba(220, 43, 182, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 0px 40px 0px 40px;
    box-shadow: rgba(243, 36, 211, 0.4) 0px 2px 4px, rgba(220, 43, 182, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.copy{
    text-align: center;
}




/* --------Media query */

@media screen and  (max-width:980px) {
    .navbar_container li{
        display: none;
    }  
    .menu {
        display: inline-block;
    }
    .arrival-item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .arr-img{
        height: 200px;
        width: 200px;
    }
              
}

@media screen and (max-width:680px) {
    .map{
        width: 100%;
        height: 200px;
    }    
    .lorp{
        width: 100%;
        padding: 0px;
    }
    .com{
        padding: 0%;
    }
    .lorhide{
        display: none;
    }
}



